body {
    font-family : Arial , sans-serif;
    background-color: hsl(0,0%,95%);
    margin : 0;
    display : flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm {
    margin : 20px;
}
.cityInput {
    padding : 10px;
    font-size : 16px;
    font-weight: bold;
    border : 2px solid #ccc;
    border-radius : 5px;
}

button[type=submit] {
    padding : 10px 20px;
    font-size : 16px;
    font-weight: bold;
    background-color: hsl(122, 39%, 50%);
    color : #fff;
    border : none;
    border-radius : 5px;
    cursor : pointer;
}

button[type="submit"]:hover {
    background-color: hsl(122, 39%, 40%);
}
.card{
    background: linear-gradient(180deg,rgba(92, 92, 158, 0.447),rgb(179, 120, 13));
    padding : 20px;
    border-radius : 10px;
    box-shadow : 2px 2px 5px rgba(0,0,0,0.3);
    margin : 20px;
    color : #fff;
    display : flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p{
    font-size: 1.5rem;
    margin : 5px 0;
}
.cityDisplay .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color:hsla(0,0%,100%,0.8);
    margin-bottom: 25px;
}
.humidityDisplay{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
}
.weatherEmoji {
    margin : 0;
    font-size: 3.5rem;
}
.errorDisplay{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    color:hsl(0,0%,0%,75);
}
